* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    background-image: url('table.png');
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    align-items: center;
    text-align: center;

}

h1 {
    color:orange;
    font-size: 100px;
}

p {
    color: white;
    font-size: 30px;
    padding: 14px 16px;

}

#message-p {
    text-transform: uppercase;
    font-style: italic;
}

button {
    padding: 20px;
    margin:10px;
    width:300px;
    overflow: hidden;
    background-color: orange;
    color:#016f32;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 5px;
    border:none;
    font-weight: bold;
}