* {
    margin:0;
    padding:0;
}


.menu {
    position:fixed;
    top:0;
    width:100%;
    background-color: #FFF;
    min-height: 50px;
    height: 6em;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    -webkit-box-shadow: 0px -14px 60px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px -14px 60px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px -14px 60px -9px rgba(66, 68, 90, 1);
}

.menu ul {
    list-style: none;
    width:75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.menu li {
    float:left;
    padding: 10px;
}
.menu-logo {
    width: 25%;
    height: 100%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.menu-logo * {
    font-size: 19px;
    float:left;
    cursor: pointer;
}

.menu-logo i {
    margin-right: 10px;
    font-size: 40px;
    color: #0CAADC;
    margin-left: 10px;
    
}
.menu-logo a {
    text-decoration: none;
    color: #034748;
    font-weight: 900;
    transition: color ease-in-out .16s;
}


.menu li a {
    color:black;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px;

}


.menu li a:hover {
    color: #0CAADC;
}

.menu-logo a:hover {
    color:black;
}


@media only screen and (max-width: 1024px) {
    .menu-logo {
        display: none;
        width: 0%;
    }
    .menu ul {
        width: 100%
    }
    .menu ul li {
        padding: 4px;
    }
    .menu ul li a {
        font-size: 10px;
        padding: 5px;
    }
}