@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

body, html {
    min-width: 100%;
    
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 300; */

}

.content, body, html {
    background-color: #fff;
}





.content {
    margin-top:5.95em;
    margin-bottom: 40px;
    box-sizing: border-box;
    display:flex;
    width:65%;
    height: 100vh;

    
}

.content .top {
    width:100%;
}


.content .header{
    width:100%;
    height:30vh;
    background-color: #14587d;
    box-sizing: border-box;
}



.top-header {
    width:100%;
    height: 45%;

}

.top-header .h-left {
    width: 60%;
    height: 100%;
    float:left;
    box-sizing: border-box;
    display: flex;
    padding-left:2.5em;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.h-left span {
    color:white;

    font-size: 3.5em;
}


.top-header .h-right {
    width: 40%;
    height: 100%;
    float:left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h-right input {
    width:60%;
    height: 50%;
    outline:none;
    border:none;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
}
.h-right #search-city {
    height: 50%;
    width: 10%;
    outline:none;
    border:none;
    cursor: pointer;
    background-color: #14b9bb;
    color:white;
    font-size: 18px;
}





.bottom-header{
    width: 100%;
    background-color: #165f86;
    height: 55%;
    box-sizing: border-box;
}


.bottom-header .bot-right {
    box-sizing: border-box;
    width:30%;
    float:left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.bottom-header .bot-left-full {
    float:left;
    height: 100%;
    width:40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
}


.bot-left-full .temp-now {
    color:white;
    font-size: 3em;
    padding-left: 2em;
}

.bot-left-full i {
    margin-right: 30px;
}



.bottom-header .bot-right-top {
    float:left;
    height: 50%;
    width:60%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:white;
}



.bot-right-top .preasure-now {
    font-size: 1.5em;
    padding-right: 25%;
}

.bot-right-top .wind-now {
    font-size: 1.5em;
}

.bot-right-bottom .air-now {
    font-size: 1.5em;
}


.bottom-header .bot-right-bottom {
    float:left;
    height: 50%;
    width:60%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:white;
}



.middle-content {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    background-color: #fff;
    overflow: hidden;
}

.middle-content .box1, .box2, .box3, .box4 {
    width:23%;
    height: 100%;
    background-color: rgba(25,95,134,0.9);
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;

}


.middle-content .box-header {
    width: 100%;
    height: 25%;
    display: block;
    font-size: 1.8em;
    color:white;
}

.middle-content .box-temp {
    width: 100%;
    height: 25%;
    display: block;
    font-size: 2.5em;
    color:white;
}

.middle-content .box-icon {
    width: 100%;
    height: 25%;
    display: block;
    font-size: 3.5em;
    color:white;
}

.middle-content .box-rain {
    width: 100%;
    height: 25%;
    display: block;
    font-size: 1.9em;
    color:white;
}


.footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #0CAADC;
    height: 40px;
    -webkit-box-shadow: 0px -3px 60px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px -3px 60px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px -3px 60px -9px rgba(66, 68, 90, 1);

    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color:#000;
}

@media only screen and (max-width: 1024px) {
    .middle-content .box-header{
        font-size: .75em;
    }
    .middle-content .box-temp {
        font-size: 1.2em;
    }
    .middle-content .box-icon {
        font-size: 2em;
    }
    .middle-content .box-rain {
        font-size: 1.2em;
    }
    .middle-content .box1, .box2, .box3, .box4 {
        width:24%
    }
    .content {
        width:100%;
    }
    .top-header .h-left {
        font-size: 0.5em;
    }
    .bottom-header .temp-now {
        font-size: 1.2em;
    }
    
    .bottom-header .wind-now,.bottom-header .preasure-now,.bottom-header .air-now {
        font-size: 1em;
    }
    .footer {
        font-size: 0.75em;
    }

    .top-header #city-input {
        font-size: 10px;
        width:80%
    }
    .top-header #search-city {
        width:25%;
        font-size:25px;
    }
    .top-header .h-right {
        width:56%
    }
    .top-header .h-left {
        width:44%;
    }


}