@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500&display=swap');


body {
    margin:0;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    width:600px;

}

html * , body * {
    transition: all ease-in-out 0.15s;
}

input {
    font-size: 16px;
    padding:10px;
    width:100%;
    box-sizing: border-box;
    border: 2px solid #5f9341;
    outline: none;
    font-weight: 700;
}

#input-btn, #tab-btn {
    outline: none;
    border:none;
    background-color: #5f9341;
    padding: 14px 16px;
    text-transform:uppercase;
    color:white;
    font-weight: 800;
    min-width: 15%;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 15px;
    cursor: pointer;
    
}

#input-btn:hover, #tab-btn:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    margin-top: 20px;
    max-width: 580px;
    
}
li {
    margin-top: 6px;
    max-width: 580px;
    box-sizing: border-box;
    
}

li a {
    color:#5f9341;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    overflow: hidden;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  	width:400px;
    }

#remove-btn {

    font-size: 18px;
    outline:none;
    border:none;
    background-color:#5f9341;
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
    height: 25px;
    cursor: pointer;
    overflow: hidden;
    width:auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    float:left;
    box-sizing: border-box;
    width:100px;
}

#remove-btn:hover {
    transform:scale(1.05);
}


