@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #122C34;
    scroll-behavior: smooth;
}


.burger-menu {
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top:35px;
    margin-right:35px;
    width: 50px;
    cursor: pointer;
    z-index: 999999;
}

.line {
    background-color: #44CFCB;
    display: block;
    float: left;
    margin-bottom:10px;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999999;
    box-sizing: border-box;
    
}

#line-1{
    margin-top: 6px;
}



#line-3 {
    margin-bottom: 6px;

}



.slide-menu {
    float:right;
    width:0%;
    height: 100vh;
    background-color:   rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-menu li {
    opacity: 1;
    padding: 0px;
    margin: 0px;
}

.slide-menu ul {
    list-style: none;
}

.slide-menu a {
    color:white;
    font-weight: 700;
    text-decoration: none;
    font-size: 32px;
    padding: 16px;
}

.slide-menu a:hover {
    color:#44CFCB;
}

.all-text {
    display:none;
}



